{% extends "portfolio.html" %}

{% block title %}
{{ super() }} - Introduction to Artificial Intelligence
{% endblock %}

{% block section_header_text %}
{{ super() }} - Introduction to Artificial Intelligence
{% endblock %}

{% block content %}
  <!--This is the START of the project-->
  <div class="project">
      <img class="project-thumb" src="static/images/portfolio/thumbs/intro_ai.png"></img>
      <h3 class="project-title">Introduction to Artificial Intelligence</h3>
      <h4 class="project-subtitle">Stanford University (online)</h4>
    <div id="description">
      <p>This course introduces students to the basics of Artificial Intelligence, which includes machine learning, probabilistic reasoning, robotics, and natural language processing.</p>
    </div>
  </div>
  <!--END of project-->
  <!--This is the START of the gallery-->
  <div class="spacer"></div>

  <div class="project-section">
    <h3>Syllabus</h3>
    <ul>
      <li>Statistics, Uncertainty, and Bayes networks</li>
      <li>Machine Learning</li>
      <li>Logic and Planning</li>
      <li>Markov Decision Processes and Reinforcement Learning</li>
      <li>Hidden Markov Models and Filters</li>
      <li>Adversarial and Advanced Planning</li>
      <li>Image Processing and Computer Vision</li>
      <li>Robotics and robot motion planning</li>
      <li>Natural Language Processing and Information Retrieval</li>
    </ul>
  </div>

  <div class="project-section">
    <h3>Links</h3>
    <ul>
      <li>Statement of accomplishment: <a href="static/files/intro_ai_statement_of_accomplishment.pdf">intro_ai_statement_of_accomplishment.pdf</a></li>
    </ul>
  </div>

  </div>
  <!--END of gallery-->
  <div class="spacer"></div>
</div>
<!--END of content-->
{% endblock content %}
