{% set section_name = "blog" %}

{% extends "base.html" %}

{% block title %} Effe - Blog {% endblock %}

{% block section_header_text %}This is our blog, check out our latest posts!{% endblock %}

{% block content %}
  <!--This is the START of the blog section-->
  <div id="blog">
    <div class="blog-item"> <a href="blog-single.html"><img class="single_image" src="static/images/blog/thumbs/blog1.jpg" width="280" height="180" alt="blog1" /></a>
      <div class="blog-item-info">
        <div class="user">admin</div>
        <div class="comments">6 comments</div>
        <div class="tags">psd news blog post</div>
      </div>
      <div class="blog-item-content"> <a href="blog-single.html">
        <h5>This is our first juicy tidbit</h5>
        </a>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <a class="readmore" href="blog-single.html">read more →</a> <br />
      </div>
    </div>
    <div class="blog-item"> <a href="blog-single.html"><img class="single_image" src="static/images/blog/thumbs/blog2.jpg" width="280" height="180" alt="blog2" /></a>
      <div class="blog-item-content">
        <div class="blog-item-info">
          <div class="user">admin</div>
          <div class="comments">6 comments</div>
          <div class="tags">psd news blog post</div>
        </div>
        <a href="blog-single.html">
        <h5>Another one is here</h5>
        </a>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <a class="readmore" href="blog-single.html">read more →</a> <br />
      </div>
    </div>
    <div class="blog-item"> <a href="blog-single.html"><img class="single_image" src="static/images/blog/thumbs/blog3.jpg" width="280" height="180" alt="blog3" /></a>
      <div class="blog-item-info">
        <div class="user">admin</div>
        <div class="comments">6 comments</div>
        <div class="tags">psd news blog post</div>
      </div>
      <div class="blog-item-content"> <a href="blog-single.html">
        <h5>And this is the last of our blog</h5>
        </a>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <a class="readmore" href="blog-single.html">read more →</a> <br />
      </div>
    </div>
    <div class="blog-item"> <a href="blog-single.html"><img class="single_image" src="static/images/blog/thumbs/blog4.jpg" width="280" height="180" alt="blog4" /></a>
      <div class="blog-item-info">
        <div class="user">admin</div>
        <div class="comments">3 comments</div>
        <div class="tags">psd news blog post</div>
      </div>
      <div class="blog-item-content"> <a href="blog-single.html">
        <h5>Captain we need more power!</h5>
        </a>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <a class="readmore" href="blog-single.html">read more →</a> <br />
      </div>
    </div>
    <div id="pagination"> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">...</a> <a href="#">→</a> </div>
  </div>
  <!--END of blog section-->
</div>
<!--END of content-->
<p class="slide"><a href="#" class="btn-slide"></a></p>
<div id="slide-panel">
	<!--This is the START of the follow section-->
	<div id="follow">
		<h3>Get Notified About My Newest Freebies & Upcoming Themes!</h3>
		<h5>
			<p>I do make some awesome freebies for you to use... All of them are FREE and pixel perfect!</p>
			<p>Thanks for showing me the support by subscribing, and I'll try not to disappoint you...</p>
		</h5>
		<img class="star-divider" src="static/images/subscribe_divider.png" /> <a href="http://www.twitter.com/92_five">
		<div id="follow-twitter"><img src="static/images/tweet_top.png" />
			<h4>Follow me on twitter</h4>
		</div>
		</a><a href="http://eepurl.com/dqtGj">
		<div id="follow-mail"><img src="static/images/mail_top.png" />
			<h4>Subscribe to my newsletter</h4>
		</div>
		</a>
		<h1>Thanks for that!</h1>
	</div>
	<!--END of follow section-->
{% endblock content %}
