{% set section_name = "contact" %}

{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block scripts %}
<!-- Load contact check -->
{% endblock %}

{% block section_header_text %}Drop me a line{% endblock %}

{% block content %}
  <!--This is the START of the contact section-->
<!--  <div id="contact">
    <h5 style="margin-top:10px;">Contact me</h5>
    <p>If you would like to contact me, please feel free to use any of the methods below:</p>
    <ul>
    <li class="contact_method">Phone number: <img src="static/images/phone_number.png"/></li>
    <li class="contact_method">Email: <img src="static/images/email_address.png"/></li>
    </ul>
  </div>-->
  <div id="contact">
    <h5>My contact info is:</h5>
    <p>T: +44 (0)75 9894 6479</p>
    <br/>
    <div class="google"><a href="mailto:albertoaguileraj@gmail.com">albertoaguileraj@gmail.com</a></div>
    <div class="linkedin_small"><a href="http://www.linkedin.com/profile/view?id=91539965">Connect on LinkedIn</a></div>
   </div>
  <!--END of contact section-->
{% endblock %}
